h1
{
  background-color: crimson;
  color: blanchedalmond;
  text-align :left;
}

body{
  background-color: rgb(53, 4, 38);
  flex-direction: row;
}

nav a{
  color: #fff;
  text-decoration: none;
  display:inline-block;
  margin-left:70px;
  font-size: 20px;
  
}
.fixheader{
  width: 100%;
  position: fixed;        
  background-color:crimson;
  background-position: top;
  color: #fff;
  margin:auto;
}

#logo{
  float:left;
  margin:10px;
  height:100px;
  width:100px;
}

#corner {
  float: left;    
  width :50%;
  margin:0px 15px 0px 0px;
  padding-top:100px; 
  border-style: round;
}

#article{
  float:right;
  padding-top: 150px;
  color: rgb(247, 231, 15);
  width: 46%;
  font-size: 50px;
  background-color:crimson;
  margin:10px 20px 10px 10px ;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
  
}

.details{
  color:white;
  padding: 10px;
  text-align: justify;
}

.main{
  border-style: solid;
  border-color: white;
  border-width: medium;
}

#arrange{
  margin:auto;
  text-align: justify;
  width:80%;
}

#pro{
  font-size: large;
  color:blanchedalmond;
  text-align:center;
  padding: 20px;
  margin:auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(240, 236, 15);
  color:black;
  text-align: center;
  font-size: large;
}